direnv_version 2.32.1
dotenv_if_exists
# IEx Persistent History, see https://tylerpachal.medium.com/iex-persistent-history-5d7d64e905d3
export ERL_AFLAGS="-kernel shell_history enabled"
source_env_if_exists .envrc.private
use flake
