name: Elixir Compatibility Matrix

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-20.04
    name: Test - OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      # see https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
      matrix:
        otp: ["22.x", "23.x", "24.x", "25.x", 26.x]
        elixir: ["1.12.x", "1.13.x", "1.14.x", "1.15.x", "1.16.x"]
        exclude:
          # OTP 22
          - elixir: "1.14.x"
            otp: "22.x"
          - elixir: "1.15.x"
            otp: "22.x"
          - elixir: "1.16.x"
            otp: "22.x"
          # OTP 23
          - elixir: "1.15.x"
            otp: "23.x"
          - elixir: "1.16.x"
            otp: "23.x"
          # OTP 25
          - elixir: "1.12.x"
            otp: "25.x"
          # OTP 26
          - elixir: "1.12.x"
            otp: "26.x"
          - elixir: "1.13.x"
            otp: "26.x"
    steps:
      - uses: actions/checkout@v4.1.2

      - uses: erlef/setup-beam@v1
        id: beam
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
          install-rebar: true
          install-hex: true

      - name: Retrieve Build Cache
        uses: actions/cache@v4
        id: build-folder-cache
        with:
          path: _build
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version}}-${{steps.beam.outputs.elixir-version }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v4
        id: deps-cache
        with:
          path: deps
          key: ${{runner.os}}-${{steps.beam.outputs.otp-version}}-${{steps.beam.outputs.elixir-version}}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - run: mix deps.get
      - run: mix compile --warnings-as-errors
      - run: mix test
